.list__search__item {
  display: flex;
  margin: 10px 60px 40px;
  padding: 20px;
  background-color: #1a242f;
  cursor: pointer;
}

.list__item__left {
  height: 35vh;
  width: 20vw;
  margin-right: 20px;

  img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
}
